*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #ed4d1b;
    --color-secundary: #ff9a3c;
    --color-black: #000;
    --color-white: #fff;
}

body{
    background: linear-gradient(90deg, #ffe7d1 0%, #fff2e6 100% );
    padding: 0 1rem;
}

header,
.hero-section,
.couses-section,
footer{
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

header img {
    display: block;
    margin: 1rem auto;
}

header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-primary{
color: var(--color-primary);
}

.text-center{
    text-align: center;
}